.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body {
    background-image: url(./images/bg-pattern-top.svg);
    background-image: url(./images/bg-pattern-bottom.svg);
    background-size: cover;
}